<form [formGroup]="permissionForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="bookDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm permission operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>
  <div class="modal-body">
    <label>
      user:
      <input formControlName="userCredentional" />
    </label>
    <button class="btn btn-primary btn-sm" data-cy="entityEditButton" (click)="downloadMasters()">Find</button>
  </div>
  <div class="modal-footer">
    <div class="table-responsive" id="entities" style="height: 400px" *ngIf="masters && masters.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"><span jhiTranslate="myApp.master.name">Name</span></th>
            <th scope="col"><span>Permission</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let master of masters" data-cy="entityTable">
            <td>
              {{ master.id }}
            </td>
            <td>{{ master.name }}</td>
            <td>
              {{ master.mask }}
            </td>
            <td>
              <button
                id="jhi-confirm-delete-master"
                data-cy="entityConfirmAddButton"
                class="btn btn-danger"
                (click)="deletePermission(master.id!, master.mask!)"
              >
                &nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
