<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="master">
      <h2 data-cy="masterDetailsHeading"><span jhiTranslate="myApp.master.detail.title">Master</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ master.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.master.name">Name</span></dt>
        <dd>
          <span>{{ master.name }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.master.date">Date</span></dt>
        <dd>
          <span>{{ master.date | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/master', master.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
